#root{
	width:800px;
	margin: 0 auto;
}
ul{
	list-style-type: none;
	padding: 0;
}
hr{
	background-color: rgba(9, 134, 236, 0.5);
	border: none;
	height: 4px;
}
h1{
	color: rgb(53, 176, 254);
	text-align: center;
}
#add-menu{
	display: flex;
	justify-content: space-between;
}
#add-text{
	width: 90%;
	height: 35px;
	font-size: 1.2em;
	padding-left: 5px;
}
#add-button{
	width: 42px;
	height: 32px;
	border: none;
	background-color: gray;
	color: white;
	text-align: center;
	padding-top: 10px;
}
.delete-icon{
	float: right;
}
li{
	color: rgb(53, 176, 254);
	font-size: 1.2em;
}
#mark{
	width: 20px;
	height: 20px;
	margin: 0;
	border: none;
	background-color: white;
}
.inactive{
	display: none;
}
#action-template{
	display: none;
}
ul i{
	cursor: pointer;
}
h3{
	background-color: rgba(255,0,0,0.3);
	color: white;
	border: 1px solid red;
	border-radius: 10px;
	width: 50%;
	height: 30px;
	margin: 20px auto;
	text-align: center;
	display: none;
}
