body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
a:active{
    color: inherit;
    outline: none;
}
button{
    outline: none;
    cursor: pointer;
}
header{
    background: url("../img/sample2.jpg");
    background-size: 128%  100%;
    height: 925px;
    background-position: top 0 left -224px;
    color: white;
    overflow: auto;
}
header .top{
    margin: 50px  65px 0;
    font-size: 1.2em;
    display: flex;
    justify-content: flex-end;
}
header .top a{
    color: white;
}
header .top a:first-child{
    margin-right: auto;
    letter-spacing: 4px;
    text-transform: uppercase;
}
header .top a:nth-of-type(2){
    margin-right: 40px;
}
header .header{
    margin: 220px 0 250px 0;
    text-align: center;
}
header .header h1{
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 3.5em;
    margin-bottom: 10px
}
header .header h1 span{
    font-size: 1.8em;
}
header .header p{
    font-size: 1.2em;
}
header nav{
    display: flex;
    padding: 0 100px;
}
header nav button{
    margin: 0 auto;
    justify-content: space-between;
    background: none;
    border: 2px solid white;
    color: white;
    width: 260px;
    height: 67px;
    font-size: 1.3em;
}
header nav button:hover{
    background: white;
    color: black;
    transition-duration: 500ms;
}
main{
    background: #F3F3F3;
}
main .info{
    position: relative;
    top: -1px;
    height: 270px;
    padding: 0 50px;
}
main .info::before{
    content: "";
    display: block;
    position: absolute;
    background: black;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
}
main .info p{
    margin: 0;
    font-size: 1.2em;
}
main .right{
    position: relative;
    z-index: 1;
    width: 50%;
    float: right;
    color: white;
}
main .left{
    position: relative;
    top: 150px;
    width: 40%;
    color: black;
}
.articles{
    margin: 0 90px;
}
.articles h2{
    text-align: center;
    font-weight: lighter;
    font-size: 1.8em;
}
.articles article{
    display: flex;
    justify-content: space-between;
}
.articles .article-text{
    text-align: center;
    font-size: 1.1em;
    width: 40%;
}
.liked-image:nth-child(1){
    background: url("../img/sample-1.jpg");
    background-size: 100% 100%;
    width: 50%;
}
.liked-image:nth-child(2){
    background: url("../img/sample-2.jpg");
    background-size: 100% 100%;
    width: 50%;
}
.liked-image{
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}
.liked-image button:first-child{
    align-self: flex-end;
    background: rgba(0,0,0,0.4);
    border: 2px solid white;
    color: white;
    margin: 25px;
    padding: 8px 11px;
    font-size: 1.1em;
}
.liked-image button:hover{
    background: white;
    color: black;
    transition: 500ms;
}
.liked-image p{
    align-self: flex-start;
    color: white;
    margin-left: 30px;
}
.news{
    margin: 70px 0;
    background: white;
    padding: 40px 80px;
}
.news-img-wrapper{
    display: flex;
    justify-content: space-between;
}
.news .liked-image{
    width: 21%;
    height: 380px;
}
.news .liked-image:nth-child(1){
    background: url("../img/news-list-1.jpg");
    background-size: 200% 100%;
}
.news .liked-image:nth-child(2){
    background: url("../img/news-list-2.jpg");
    background-size: 200% 100%;
}
.news .liked-image:nth-child(3){
    background: url("../img/news-list-3.jpg");
    background-size: 200% 100%;
}
.news .liked-image:nth-child(4){
    background: url("../img/news-list-4.jpg");
    background-size: 200% 100%;
}
.news .liked-image button:nth-of-type(2){
    width: 85%;
    height: 45px;
    color: white;
    background: rgba(9,119,116,0.8);
    font-size: 1.2em;
    font-weight: bolder;
    border: none;
    margin: 0 auto;
}
.news .liked-image button:nth-of-type(2):hover{
    background: rgb(9,119,116);
    transition: 500ms;
}
.news>button{
    background: #097774;
    width: 30%;
    height: 60px;
    color: white;
    border: none;
    margin-top: 60px;
    text-align: center;
    font-size: 1.2em;
    position: relative;
    left: 35%;
}
.news>button:hover{
    color: #097774;
    background: white;
    border: 2px solid #097774;
    transition: 500ms;
    font-size: 1.5em;
}
.subscription{
    padding: 0 50px 50px;
    font-size: 1.1em;
}
.subscribe-form{
    display: flex;
    justify-content: flex-end;
    margin-right: -20px;
}
.subscribe-form>*{
    margin-right: 20px;
}
.subscribe-form h2{
    font-weight: normal;
    margin-top: 0;
    letter-spacing: 2px;
}
.subscribe-form input{
    width: 190px;
    height: 40px;
    border: 1px solid black;
    padding-left: 10px;
}
.subscribe-form button{
    height: 45px;
    width: 130px;
    background: #097774;
    color: white;
    border: none;
    font-size: 1.1em;
}
footer{
    margin-top: 30px;
    padding: 0 30px 25px;
    display: flex;
    justify-content: space-between;
    font-size: 1.15em;
}
.links *{
    margin-right: 15px;
}
