$underlineColor: #ff4e33;
$pagePrimaryBackground: #21232e;
$pageSecondaryBackground: #3b3f50;
$buttonColor: #e3ac00;
$headerTextColor: #fff;
$headerImage: url("../img/m-h-night.jpg");
$leftGradient: #dfa605;
$rightGradient: #953150;
