$underlineColor: #14a0c7;
$pagePrimaryBackground: #fff;
$pageSecondaryBackground: #21232e;
$buttonColor: #699900;
$headerTextColor: #2c2f32;
$headerImage: url("../img/m-h-day.jpg");
$leftGradient: rgb(103, 151, 6);
$rightGradient: rgb(45, 91, 216);
