@media print {
    body{
        padding: 0;
        margin: 0;
    }
    .container{
        all: initial;
        width: 100%;
        padding: 0 40px;
        margin: 0 auto;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    }
    img:not([src="img/epam_logo.png"]), .tm-sidebar,
    #contact, #about, section:first-of-type div:nth-of-type(2),
    .blocks div:nth-of-type(2), .blocks div:nth-of-type(3){
        display: none;
    }
    .tm-main-content{
        padding: 0;
        width: 100%;
    }
    #home{
        margin: 0;
        padding: 0;
    }
    #home p{

    }
    section .padding-medium{
        padding: 0;
        margin: 0;
    }
    section .tm-content-box{
        padding: 0;
        margin: 0;
    }
    section{
        margin: 0 auto;
        padding: 0 50px;
    }
    section:nth-of-type(1) .flex-item{
        all: unset;
        width: 100%;

        text-align: center;
    }
    section  h2:first-of-type{
        text-align: center;
        color: #84f0fa;
        text-transform: uppercase;
    }

    section:nth-of-type(2){
        margin: 0;
    }
    section:nth-of-type(2) ol{
        list-style-type: none;
    }
    section:nth-of-type(2) ol li{
        text-align: center;
    }
    section:nth-of-type(2) ol li a{
        color: black;
    }
    section:nth-of-type(2) ol li:first-letter{
        color: #7efad9;
        font-size: 1.6em;
    }
    section:nth-of-type(2) ol li:nth-child(odd){
        padding-right: 45%;
    }
    section:nth-of-type(2) ol li:nth-child(even){
        padding-left: 35%;
    }

    .blocks div:nth-of-type(1){
        all: unset;
        text-align: center;
    }

    #tmCarousel{
        all: unset;
        width: 100%;
        text-align: center;
    }
    #tmCarousel .carousel-indicators{
        display: none;
    }
}
@media screen {
    .box-bg :hover{
        background-color: #86cdf9;
        color: #fff;
        transition-duration: 500ms;
    }
    section, .tm-sidebar, #home{
        box-shadow: 0 0 10px  rgba(61, 55, 61, 0.7);
    }
    .tm-banner{
        background-color: #76cdd7;
    }
    .tm-banner-inner{
        background-color: white;
        text-shadow: 0 11px 0.1em rgba(84, 149, 186, 0.9);
        letter-spacing: 3px;
        word-spacing: 4px;
    }

    section::before{
        width: 50px;
        height: 50px;
        background-color: lightskyblue;
        content: "";
        position: absolute;
        clip-path: polygon(0 0, 40px 0, 0 40px);
    }

    .padding-medium ol{
        list-style-type: lower-roman;
    }
    .padding-medium h2{
        color: lightblue;
        text-align: center;
    }
    .padding-medium ol a{
        color: black;
        outline: none;
        position: relative;
    }
    .padding-medium ol li a:visited{
        color: #ffb347;
        text-decoration: none;
    }
    .padding-medium ol li a:hover{
        color: #ffb347;
        font-weight: bold;
        text-decoration: none;
        border-left: 2px solid #ffb347;
        padding-left: 3px;
    }
    .padding-medium ol li:nth-child(1) a, .padding-medium ol li:nth-child(2) a{
        color: #ffd84b;
    }
    .padding-medium ol li:nth-child(1) a::after, .padding-medium ol li:nth-child(3) a::after{
        content: "New";
        color: red;
        position: absolute;
        top:-6px;
        font-size: 0.8em;
        font-weight: bold;
    }

    .gallery-container li:nth-child(even){
        background-color: #f5f5f5;
    }
    .gallery-container li p{
        font-weight: lighter;
        font-style: italic;
        font-size: 0.9em;
    }
    .gallery-container li p:first-letter{
        font-weight: normal;
        font-size: 1.5em;
        color: gray;
    }

    #contact input{
        outline:  none;
        border: 0;
        border-bottom: 2px solid lightskyblue;
        border-radius: 3px;
    }
    #contact input:focus{
        background-color: #76cdd7;
        color: #fff;
    }
    #contact input[type="email"]{
        background-image: url("../img/email-icon.png");
        background-position: 98%;
        background-repeat: no-repeat;
        background-size: 25px;
    }
    #contact h2{
        text-align: left;
    }
    #contact textarea{
        outline:  none;
        border: 2px solid lightskyblue;
        border-radius: 5px;
        resize: none;
    }
    #contact button{
        background-color: white;
        border: 2px solid lightskyblue;
        border-radius: 0;
        color: lightskyblue;
        float: right;
        width: 150px;
        height: 50px;

    }
    #contact button:hover{
        border: 0;
        background-color: lightskyblue;
        color: white;
        transition-duration: 500ms;
    }

    nav li:hover{
        background-color: #eee;
    }

    h2+p{
        font-style: italic;
        line-height: 30px;
    }
    p{
        text-indent: 40px;
    }
    img[src="img/epam-mexico.jpg"]{
        float: right;
        width: 100%;
    }
    section:first-of-type .tm-team-description-container{
        float: left;
        width: 40%;
        height: 100%;
        padding-top: 15%;
    }
    section:first-of-type .tm-team-description-container h2{
        text-align: left;
        color: lightskyblue;
    }
    section:first-of-type .tm-team-img{
        float: right;
        width: 60%;
    }

    .blocks .tm-section-title{
        text-align: left;
    }
    .blocks .gallery-container p{
        text-indent: 0;
    }
    .blocks .gallery-container li div{
        padding-left: 10px;
    }
    #tmCarousel p{
        text-indent: 0;
    }

    .tm-banner-inner p{
        animation-name: rotate;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    @keyframes rotate {
        from{transform: rotateY(0deg);}
        to{transform: rotateY(180deg);}
    }
}